@model List<Friends_Web_App.Models.GroupTask>

<h1>This is Group Tasks Page</h1>

<a asp-controller="GroupTask" asp-action="Add" class="btn btn-primary">Add Task</a>
<br />

<table class="table">
    <thead>
        <tr>
            <!--Table row-->
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Due Date</th>
            <th>Is Complete</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Id</td>
                <td>@task.Name</td>
                <td>@task.Description</td>
                <td>@task.Priority</td>
                <td>@task.DueDate.ToString("yyyy-MM-dd")</td>
                <td>@task.IsComplete</td>
                <td>
                    <div class="d-flex justify-content-center">
                        <a asp-controller="GroupTask" asp-action="Edit" class="btn btn-primary" asp-route-id="@task.Id">Edit</a>
                        <form asp-controller="GroupTask" asp-action="Delete" asp-route-id="@task.Id" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
